/* Footer.css */

/* 
    White: white
    App Background: #ededed
    Light Blue: #86CCFF
    Dark Blue: #4a90e2
*/
  
  .footer-btn {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .footer-btn img {
    width: 70%;
    height: 70%;
    object-fit: contain;
  }
  