/* Header.css */

/* 
    White: white
    App Background: #ededed
    Light Blue: #86CCFF
    Dark Blue: #4a90e2
*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
  }
  
  .logo { 
    width: 150px;
    height: auto;
  }
  
  .profile-oval {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 20px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .points {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4a90e2;
  }
  
  .star-icon {
    width: 25px;
    height: auto;
  }
  
  .menu-img {
    width: 50px; /* Adjust size based on design */
    height: auto;
    cursor: pointer;
  }
  